
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    
    
  }

  .footer-icons {
    color: white;
    
  }
  .footer-icons svg {
    font-size: 1.5rem;
    margin-left: 30px;
    color: #ffffff;
  }

  .footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
  }
  .footer-section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #f8f8f8;
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    
    .footer-wrapper {
      flex-direction: column;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
    .App {
      max-width: 95vw;
    }
  }

  
  
 