.profile{

}

.factory-image {
    width: 100%;
}

.heading-primary {
    color: #fe9e0d;
    margin: 20px 10px 20px;
}

.outline-factory-image-button{
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #ffffff;
    color: white;
    margin-left: 15px; 
  }

  .product-container {
    height: 150px;
    background-color: #fe9e0d;
  }

  .product-container img{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px
   
  }